Repository yamada-ui/yamada-ui: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yaml:

pre-commit:
  piped: true
  commands:
    prettier:
      priority: 1
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,md,mdx,yaml,yml,json,html,css}"
      run: |
        pnpm prettier {staged_files} --write
      stage_fixed: true

    eslint:
      priority: 2
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx}"
      exclude:
        - examples/**
      run: |
        pnpm eslint {staged_files} --max-warnings=0 --fix --cache
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: |
        pnpm commitlint --edit {1}

post-merge:
  commands:
    pnpm:
      glob: "{package.json,pnpm-lock.yaml}"
      run: pnpm install

chore(docs/eslint): remove `.eslintignore`
  docs/.eslintignore
Due: none

chore(eslint): add `eslint/vitest.mjs`
  eslint/vitest.mjs
Due: prettier, eslint

chore(examples/remix): rm `.eslintrc.cjs`
  examples/remix/.eslintrc.cjs
Due: prettier

chore(examples/next/pages): remove `.eslintrc.json`
  examples/next/pages/.eslintrc.json
Due: prettier

chore(examples/next/app): add eslint-related packages
  examples/next/app/eslint.config.mjs
  examples/next/app/package.json
  pnpm-lock.yaml
Due: prettier

chore(examples/next/app): update `lint` command
  examples/next/app/package.json
Due: prettier

chore(examples/next/app): add `.eslintrc.json`
  examples/next/app/.eslintrc.json
Due: prettier

chore(examples/next/pages): update `lint` command
  examples/next/pages/package.json
Due: prettier

chore(examples/remix): add `eslint.config.mjs`
  examples/remix/eslint.config.mjs
Due: prettier

chore(docs): update `lint` command
  docs/package.json
Due: prettier

chore(examples/remix): add eslint-related packages
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier

chore(root): update `lint` command
  package.json
Due: prettier

chore(examples/next/pages): add eslint-related packages
  examples/next/pages/eslint.config.mjs
  examples/next/pages/package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): remove `eslint-plugin-prettier`
  package.json
  pnpm-lock.yaml
Due: prettier

chore(examples/remix): update `lint` command
  examples/remix/package.json
Due: prettier

chore(examples/remix): fix ESLint errors
  examples/remix/app/components/layouts/header.tsx
  examples/remix/app/root.tsx
  examples/remix/vite.config.ts
Due: prettier

chore(examples/next/pages): fix ESLint errors
  examples/next/pages/components/layouts/header.tsx
  examples/next/pages/pages/_app.tsx
  examples/next/pages/pages/index.tsx
Due: prettier

chore(examples/next/app/tsconfig): add `next.config.js` to the project
  examples/next/app/tsconfig.json
Due: prettier

chore(docs): add `eslint.config.mjs`
  docs/eslint.config.mjs
Due: prettier, eslint

chore(examples/next/app): fix ESLint errors
  examples/next/app/app/page.tsx
  examples/next/app/components/layouts/header.tsx
Due: prettier

chore(examples/next/pages/tsconfig): add `eslint.config.mjs` and `next.config.mjs` to the project
  examples/next/pages/tsconfig.json
Due: prettier

chore(scripts): remove unused var
  scripts/changelog.ts
Due: prettier, eslint

chore(examples/remix/tsconfig): add `eslint.config.mjs` to the project
  examples/remix/tsconfig.json
Due: prettier

chore(docs): resolve duplication of import-path
  docs/pages/api/github/observe/update-issues.ts
  docs/scripts/mdx/map.ts
  docs/scripts/mdx/utils.ts
Due: prettier, eslint

chore(lefthook): update `lefthook.yaml`
  lefthook.yaml
Due: prettier

ci(eslint): update `file_patterns` in `Check modified files` step
  .github/workflows/quality.yml
Due: prettier

chore(examples/vite/tsconfig): add `allowJs: true`
  examples/vite/tsconfig.node.json
Due: prettier

chore(root/tsconfig): add `allowJs: true`
  tsconfig.json
Due: prettier

chore(root): add `lint:inspect` command
  package.json
Due: prettier

chore(docs): executed `pnpm run format`
  docs/eslint.config.mjs
Due: prettier, eslint

chore(docs): fix TypeScript Errors
  docs/scripts/mdx/map.ts
Due: prettier, eslint

feat: allow styles to be specified for MenuGroup labels
  .changeset/red-ears-march.md
  packages/components/menu/src/menu-group.tsx
  packages/components/menu/src/menu-option-group.tsx
  packages/components/menu/tests/menu.test.tsx
Due: prettier, eslint

fix(utils): corrected type definitions in object utils
  .changeset/ten-eagles-begin.md
  packages/utils/src/object.ts
  packages/utils/tests/object.test.ts
Due: prettier, eslint

fix(image): corrected onError and onLoad handling in Image component
  .changeset/wicked-emus-try.md
  packages/components/image/src/image.tsx
Due: prettier, eslint

refactor(components): updated forwardRef implementations
  .changeset/serious-pans-watch.md
  packages/components/motion/src/motion-forward-ref.tsx
  packages/core/src/components/forward-ref.ts
  packages/core/src/styled.ts
Due: prettier, eslint

refactor(components): update motion component integration
  .changeset/dirty-eagles-poke.md
  packages/components/motion/src/factory.ts
  packages/components/motion/src/motion-forward-ref.tsx
  packages/components/motion/src/motion.tsx
  packages/core/src/components/forward-ref.ts
  packages/core/src/styled.ts
Due: prettier, eslint

docs: updated references from `var` to `vars`
  docs/contents/styled-system/css-custom-properties.ja.mdx
  docs/contents/styled-system/css-custom-properties.mdx
  docs/contents/styled-system/interpolation.ja.mdx
  docs/contents/styled-system/interpolation.mdx
Due: prettier

fix(scripts): improved error handling in changelog reader
  scripts/changelog.ts
Due: prettier, eslint

ci(docs.yml): enhance PR and commit checks in CI workflow
  .github/workflows/docs.yml
Due: prettier
