Repository yamada-ui/yamada-ui: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  priority: 1
  run: 'pnpm prettier {staged_files} --write
  
    '
  stage_fixed: true

eslint:
  priority: 2
  run: 'pnpm eslint {staged_files} --max-warnings=0 --fix --cache
  
    '
  stage_fixed: true

feat: className
  packages/components/portal/src/portal.tsx
Due: prettier, eslint

feat: changeset
  .changeset/poor-tips-act.md
Due: prettier

refactor: simplify TabList component props destructuring
  packages/components/tabs/src/tab-list.tsx
Due: prettier, eslint

fix: del useEffect
  packages/components/color-picker/src/color-picker.tsx
Due: prettier, eslint

chore: set displayName and __ui__
  .changeset/nine-kings-hide.md
  packages/components/alert/src/alert.tsx
Due: prettier, eslint

fix: fix component name
  .changeset/fluffy-jokes-behave.md
  packages/components/autocomplete/src/autocomplete-create.tsx
  packages/components/autocomplete/src/autocomplete-empty.tsx
  packages/components/autocomplete/src/autocomplete-option.tsx
Due: prettier, eslint

feat: update props description
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
Due: prettier, eslint

feat: add a return statement if isReadOnly is true
  packages/components/transitions/src/flip.tsx
Due: prettier, eslint

feat: update flip story
  stories/components/transitions/flip.stories.tsx
Due: prettier, eslint

fix: added missing imports
  .changeset/fuzzy-penguins-hammer.md
  packages/components/rating/src/rating-item.tsx
Due: prettier, eslint

feat: add displayName
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
Due: prettier, eslint

fix: use useId hooks
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/use-color-picker.ts
Due: prettier, eslint

feat: set display name and UI for segmented-controll
  packages/components/segmented-control/src/segmented-control.tsx
Due: prettier, eslint

chore: add changeset
  .changeset/honest-bulldogs-end.md
Due: prettier

fix: added displayName and __ui__ to pagination component
  packages/components/pagination/src/pagination.tsx
Due: prettier, eslint

fix: changed FC import to @yamada-ui/core
  .changeset/dusty-roads-curve.md
  packages/components/pagination/src/pagination.tsx
Due: prettier, eslint

fix(number-input): add displayName and __ui__ properties to improve debugging
  .changeset/bright-toes-repeat.md
  packages/components/number-input/src/number-input.tsx
Due: prettier, eslint

fix(carousel): fixed `index` of `Carousel`
  .changeset/silver-fireants-judge.md
  packages/components/carousel/src/use-carousel.ts
Due: prettier, eslint

fix: displayName is not set for the component of "@yamada-ui/progress"
  packages/components/progress/src/circle-progress.tsx
  packages/components/progress/src/progress.tsx
Due: prettier, eslint

fix(number-input): add displayName and __ui__ properties to improve debugging
  .changeset/neat-apricots-hammer.md
  packages/components/number-input/src/number-input.tsx
Due: prettier, eslint

Update .changeset/bright-toes-repeat.md
  .changeset/bright-toes-repeat.md
Due: prettier

fix: add `displayName` and `__ui__`
  plop/component/package-multi/src/{{dashCase packageName}}.tsx.hbs
  plop/component/package/src/{{dashCase packageName}}.tsx.hbs
Due: none

fix: ally option
  packages/components/color-picker/src/color-picker.tsx
Due: prettier, eslint

fix: space
  packages/components/color-picker/src/use-color-picker.ts
Due: prettier, eslint

Delete .changeset/bright-toes-repeat.md
  .changeset/bright-toes-repeat.md
Due: prettier

feat: change story title
  stories/components/transitions/airy.stories.tsx
  stories/components/transitions/flip.stories.tsx
Due: prettier, eslint

chore: change the order of import statements
  stories/components/transitions/rotate.stories.tsx
Due: prettier, eslint

chore(docs): update contributor and member lists
  docs/constant/contributors.ts
  docs/constant/emeriti.ts
  docs/constant/maintainers.ts
  docs/constant/members.ts
Due: prettier, eslint

chore: add no-wait-for-multiple-assertions to ESLint rules
  .eslint/testing-library.ts
Due: prettier, eslint

test: apply ESLint rules
  packages/components/file-button/tests/file-button.test.tsx
  packages/components/pin-input/tests/pin-input.test.tsx
  packages/components/snacks/tests/snacks.test.tsx
  packages/components/table/tests/table.test.tsx
Due: prettier, eslint

test: fix waitFor for checkbox
  packages/components/table/tests/table.test.tsx
Due: prettier, eslint

feat(progress): add displayName and __ui__ properties
  packages/components/progress/src/circle-progress.tsx
  packages/components/progress/src/progress.tsx
Due: prettier, eslint

chore: update change set
  .changeset/three-taxis-sniff.md
Due: prettier

chore: fix format by prettier
  packages/components/progress/src/circle-progress.tsx
  packages/components/progress/src/progress.tsx
Due: prettier, eslint

fix: deleted changelog
  .changeset/fuzzy-penguins-hammer.md
Due: prettier

fix: removed unnecessary changesets
  .changeset/eighty-mice-boil.md
  .changeset/gold-vans-pump.md
  .changeset/pretty-bananas-invent.md
Due: prettier

fix: set the `displayName` and `__ui__` for `@yamada-ui/highlight`
  .changeset/mighty-elephants-own.md
  packages/components/highlight/src/highlight.tsx
Due: prettier, eslint

Update .changeset/three-taxis-sniff.md
  .changeset/three-taxis-sniff.md
Due: prettier

fix: add displayName and __ui__ to PinInput
  .changeset/tricky-rice-move.md
  packages/components/pin-input/src/pin-input.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,md,mdx,yaml,yml,json,html,css}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx}, but not: examples/**
